<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/stylePrincipal.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="902728784391-a78qs4rd2inb0fbn9vtp6b2b2hutstm6.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?" ></script>
    <title>Jss Reader</title>
</head>
<body onload="Sair();">
    {{{body}}}
</body>
</html>