*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    border: none;
    outline: none;
    font-size: 17px;
}

body{
    background-color: #EFEEEE;
}
::-webkit-input-placeholder {
    color: rgb(53, 53, 53);
 }

 :-moz-placeholder { /* Firefox 18- */
    color: rgb(53, 53, 53);
 }

 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(53, 53, 53);
 }

 :-ms-input-placeholder {
    color: rgb(53, 53, 53);
 }
 ::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #808080;
}
 #container{
     display: flex;
     justify-content: space-evenly;
     align-items:center;
     flex-flow: row wrap;
     background-color: #EFEEEE;
     padding: 100px 0;
 }

header#topoFixo{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: #f26627;
    flex-grow: 0;
    flex-shrink: 0;
    flex-flow: row nowrap;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
    z-index: 9999;
}
#logoMenu{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}
.sideBar{
    width: 40px;
    height: 40px;
    background: url(../recursos/menu-button\ \(1\).png);
}
.sideBar:hover{
    cursor: pointer;
    opacity: 0.6;
}

#logo{
    font-size: 2rem;
    margin-left: 10px;
    width: 187px;
    padding-top: 1px;
}
#content{
    width: 100%;
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 1200px;
}

.rssOp{
    width: 50%;
    margin: 20px;
    background: white;
    height: 200px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.rssOpNull{
    width: 50%;
    margin: 20px;
    background: white;
    height: 200px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-self: center;
    align-self: center;
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.rssOp:hover{
    background: #f26627;
    cursor: pointer;
}
.tags{
    display: block;
}
.deleteFeed{
    border-radius: 12px;
    height: 40px;
    width: 300px;
    align-self: center;
}
.deleteFeed:hover{
    text-decoration: underline;
    cursor: pointer;
}
#createFeed{
    align-self: center;
    height: 100px;
    width: 400px;
    border-radius: 12px;
}
#createFeed:hover{
    text-decoration: underline;
    cursor: pointer;
}
#searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 40px;
    margin: 0 60px;
}
#searchBar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchBar input[type ="text"]{
    width: 650px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 20px;
}
#searchBar input[type ="submit"]{
    width: 50px;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -12px;
    background:rgb(180, 180, 180) url(../recursos/loupe\ \(1\)\ \(1\).png) center no-repeat;
}
#searchBar input[type ="submit"]:hover{
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}
#privateInfo{
    margin-right: 10px;
}
a{
    display: block;
    text-decoration: none;
    text-indent: center;
    line-height: 60px;
    padding: 10px;
    color: black ;
    height: 80px;
}
ul{
    list-style: none;
}
.dropmenu{
    text-align: center;
    width: 150px;
    display: block;
    position: relative;
    border: 1px solid black;
}
.dropmenu li ul{
    width: 100%;
    position: absolute;
    top: 80px;
    left: -1px;
    display: none;
}
.dropmenu li:hover ul {
    display: block;
}
.dropmenu li:hover ul li {
    width: 150px;
    text-align: center;
    display: block;
    background-color: #f26627;
    border: 1px solid black;
}
.dropmenu li:hover ul li:hover {
    background-color: #f18959;
}
#paginaCadastro{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    z-index: 20000;
    overflow-y: hidden;
}

#paginaCadastro form{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 800px;
    height: 900px;
    border: 1px solid gray;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    padding: 40px 40px;
    z-index: 1;
}
#paginaCadastro input{
    width: 89%;
    border-bottom: 1px solid black;
    padding: 5px;
}
#paginaCadastro form input[type = "submit"],#paginaCadastro form input[type = "button"] {
    align-self: center;
    background-color:#f17338;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
 }
#paginaCadastro form input[type = "submit"]:hover,#paginaCadastro form input[type = "button"]:hover{
    cursor: pointer;
    background-color: #f26627;
 }
label{
    margin-bottom: -5%;
    font-size: 2rem;
}
aside#menulateral{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width:271px ;
    background-color: #f26627;
    padding: 10px;
    padding-top: 16px;
    box-shadow: 5px 5px 10px black;
    display: none;
    overflow-y: auto;
    z-index: 10000;
}
.fixed{
    position: fixed;
    padding-bottom:10px;
    border-bottom: 1px solid gainsboro ;
    margin-bottom: 20px;
}
nav{
    margin-top: 70px;
}
#sideContent{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.itemSide{
    width: 230px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px ;
    border-radius: 12px;
}
.itemSide:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-decoration: underline;
}
.nameSide{
   font-size: 1.5rem;
   text-align: center;
}
.news{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: white;
    padding:  0 30px;
    margin: 20px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
}
.news a {
    font-size: 1.2rem;
    text-decoration: none;
   display: inline !important;
   padding: none !important;
   margin: none !important;
   line-height: auto;
   padding: initial;
   color: #f18959 ;
   height: auto;
   margin-top: 10px;
}
a.tituloNoticia {
    font-size: 2.0rem;
    text-decoration: underline;
    color: #f18959;
    margin-bottom: 10px;
    text-align: center;
}
.news  p a {
    font-size: 1.2rem;
    text-decoration: none;
   display: inline !important;
   padding: none !important;
   margin: none !important;
   line-height: auto;
   padding: initial;
   color: #f18959 ;
   height: auto;
   margin-top: 10px;
}
.news img{
    max-width: 600px;
    max-height: 600px;
    width: auto !important;
    height: auto !important;
    margin: 10px auto !important;
 }
 .textFormat {
    text-decoration: none;
    font-size: 1.2rem;
    text-align: justify;
    word-spacing: 1.5px !important;
    line-height: 30px !important;
    letter-spacing: 0.4px !important;
    padding:  0 100px;
    max-width: 100%;
 }

.textFormat *{
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
 }

 .textFormat  p a {
     font-size: 1.2rem;
     text-decoration: none;
    display: inline !important;
    padding: none !important;
    margin: none !important;
    line-height: auto;
    padding: initial;
    color: #f18959 ;
    height: auto;
 }

 .textFormat  p span {
    font-size: 1.2rem !important;
    margin-top: 10px;
    
}
.news  p span {
    font-size: 1.2rem !important;
    margin-top: 10px;
    
}
.news span {
    font-size: 1.2rem !important;
    margin: 10px 0;
    
}
.news li{
    margin-left: 30px;
}
figure{
    max-width: 100%;
    margin: 0 auto;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#selectSearch{
    width: 105px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(180, 180, 180);
    margin-right: -12px;
    z-index: 2;
    padding-left: 5px;
}

#formManage{
    display: flex;
    background: white;
    width: 50%;
    height: 800px;
    border-radius: 12px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-self: flex-start;
    padding: 50px;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}
#formManage h1{
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    margin-top: -70px;
}

#formManage input{
    background-color:white;
    border-bottom: 1px solid black;
    width: 50%;
    padding-left: 5px ;
    margin-right: 5px;
}
#formManage label span{
    position: relative;
    right: 0;
}